html {
    background-color: rgb(0, 2, 8);
    align-items: center;
}


body {
    margin-left: 100px;
    margin-right: 100px;
}

.main {
    max-width: 1430px;
    margin: 0 auto;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(6, 36, 0);
    border: 5px;
    border-style: initial;
    margin-bottom: 100px;
    margin-top: 50px;
    border-width: 4px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    height: 100px;
    color: azure;
    border-radius: 20px;
    padding-top: 10px;

}
.nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(57, 0, 0);
    border: 5px;
    border-style: dotted;
    border-width: 2px;
    border-radius: 5px;
    height: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.mainimg {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 5px;
    border-style: groove;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.para1 {
    display: flex;
    color: rgb(255, 255, 255);
    border-color: black;
    border-width: 5px;
    border-style: dotted;
    padding: 2px 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 38, 67);
    margin-left: 100px;
    margin-right: 100px;
    align-items: flex;
}

.inspara1 {
    display: flex;
    text-align: center;
    border-right: 5px black;
    border-right-style: dotted;
    border-right-width: 5px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 20px;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

.act {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    padding-right: 10px;
}
.ah {
    color: rgb(255, 255, 255);
    width: 150px;
    height: 200px;
    border-radius: 3px;
    background-color: rgb(71, 71, 95);
    border-style:none;
    padding: 5px 10px 5px 10px;
    transition: 0.8s;
    text-decoration: none;
    text-decoration-color: aliceblue;
}

.ah:hover {
    border-style:none;
    border-radius: 3px;
    background-color: rgb(230, 130, 0);
    box-shadow: 3px 6px 7px black;
    color: black;  
}

.vidlink{
    display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.headactmain {
    text-align: center;
}

.cat1 {
    border-color: blue;
    border-style: double;
    border-width: 10px;
    border-radius: 100%;
}

#para2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Brush Script MT";
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    color: rgb(255, 255, 255);
    text-align: center;
    border: 5px;
    border-style: dotted;
    border-color: black;
    border-radius: 3px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(0, 38, 67);
    margin-bottom: 50px;
}

/* Contact style */
.header2 {
    color: white;
    margin-left: 100px;
}

.contmain {
    color: white;
    margin-left: 100px;
}

.contbody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    border: dotted navy 2px;
    border-radius: 3px;
}

.button {
    border: none;
    background-color: paleturquoise;
    height: 30px;
    width: 100px;
    transition: 0.5s;
}
.button:hover {
    cursor: pointer;
    opacity: 1;
    background-color: rgb(246, 191, 124);
    box-shadow: 3px 6px 7px black;
    color: black;
}
textarea {
    border: dotted navy 2px;
    border-radius: 3px;
    width: 60%;
}


/* aboutus */

 .gallery {
    border: 1px solid #ccc;
    width: 230px;
  }
  
 .gallery:hover {
    border: 1px solid #777;
  }
  
 img {
    width: 230px;
    height: 240px;
  }
  
 .desc {
    padding: 15px;
    text-align: center;
  }
  
 .maingall {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    box-sizing: border-box;
    background-color: rgb(0, 38, 67) ;
    color: white;
    border: 5px;
    border-style: dotted;
    border-color: black;
    border-radius: 3px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
 .responsive {
    text-align: center;
    margin: 0 10px;
  }

 .gallcol {
    display: flex;
    flex-direction: row;
}


  

@media only screen and (max-width: 880px) {
    header{
        margin-left: 30px;
        margin-right: 30px;
    }

    .nav{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .para1 {
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
    }
    .headactmain {
        text-align: center;
    }
    .inspara1 {
        border-right-style: none;
        border-bottom-style: dotted;
        border-bottom-color: black;
        border-bottom-width: 5px;
        margin-right: 5px;
    }
    body {
        margin-left: 0;
        margin-right: 0;
    }

    .footer{
        margin-left: 30px;
        margin-right: 30px;
    }
    .act{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header2{
        margin-left: 30px;
    }
    .contmain{
        margin-left: 30px;
    }
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
    .maingall{
        margin-left: 30px;
        margin-right: 30px;
      }

}

@media only screen and (max-width:560px) {
    .act{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
    } 

    .responsive {
        width: 100%;
    }
    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

    .gallcol{
        flex-direction: column;
    }
}
    

@media only screen and (max-width:380px) {
    .nav {
        font-size: 10px;
    }
    a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    header {
        font-size: smaller;
    }
    .video {
        display: none;
    }
    .vidlink {
        display: block;
        align-items: center;
        margin-top: 10px;
        margin-left: 20px;
    }
}

@media only screen and (max-width:320px) {
    img{
        width: 150px;
        height: 150px;
    }
    .gallery {
        width: 100%;
    }
}